<a href="https://colab.research.google.com/github/atreyid/atreyid/blob/main/unit_tests_expenses.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
from google.colab import files
uploaded = files.upload()

Saving Passed_Expense_Encounters_2022_03_24.xlsx to Passed_Expense_Encounters_2022_03_24 (3).xlsx

In [ ]:
df = pd.read_excel('Passed_Expense_Encounters_2022_03_24 (3).xlsx', index_col=None)

In [ ]:
df.sample(2)

,index,scenario,payerName,vehicleCompanyName,planCode,vehicleCompanyNPI,vehicleCompanyAPI,vehicleCompanyTaxonomy,vehicleCompanyTaxId,billingProviderMTI,...,fromZipcode,toAddress1,toCity,toState,toZipcode,finalCost,payingICN,units,pickupDate.1,attendants
2599,1356,Meals,Superior Health Plan,SafeRide Meals,H2,NaN,NaN,174200000X,813037449.0,TH20003687,...,NaN,3533 S ALAMEDA ST,CORPUS CHRISTI,TX,78411,25.0,NaN,2.0,20220228,1
1886,1981,Meals,Superior Health Plan,SafeRide Meals,N2,NaN,NaN,174200000X,813037449.0,TN20003687,...,NaN,7777 FOREST LN,DALLAS,TX,75230,50.0,NaN,3.0,20220224,2

In [98]:
sorted(df.columns)

['Frequency',
 'OtherEventIndicator',
 'SharedServicesRefID',
 'VIN',
 'appointmentDate',
 'attendants',
 'authorizationNumber1',
 'authorizationNumber2',
 'billingAddress',
 'billingAddress2',
 'billingCity',
 'billingPayToAddress',
 'billingPayToAddress2',
 'billingPayToCity',
 'billingPayToState',
 'billingPayToZip',
 'billingProviderMTI',
 'billingState',
 'billingZip',
 'careProviderAddress',
 'careProviderCity',
 'careProviderNPI',
 'careProviderName',
 'careProviderState',
 'careProviderTPI',
 'careProviderTaxId',
 'careProviderTaxonomy',
 'careProviderZipcode',
 'claimAdjudicationDate',
 'claimPaymentDate',
 'claimReceiptDate',
 'driverFirstname',
 'driverLastName',
 'driverLicense',
 'driverMTI',
 'driverSSN',
 'dropoffCountyCode',
 'finalCost',
 'fromAddress1',
 'fromCity',
 'fromState',
 'fromZipcode',
 'index',
 'insuredAddress',
 'insuredAddress2',
 'insuredCity',
 'insuredDOB',
 'insuredFirst',
 'insuredLast',
 'insuredMI',
 'insuredSex',
 'insuredState',
 'insuredZip',
 'lessThan48Hour',
 'memberCountyCode',
 'patDOB',
 'patFirst',
 'patLast',
 'patSex',
 'patientAddress',
 'patientAddress2',
 'patientCity',
 'patientMedicalId',
 'patientState',
 'patientZip',
 'payerName',
 'payingICN',
 'paymentMethod',
 'pickupCountyCode',
 'pickupDate',
 'pickupDate.1',
 'planCode',
 'procCode',
 'riskGroup',
 'scenario',
 'specialNeeds1',
 'specialNeeds2',
 'specialNeeds3',
 'specialNeeds4',
 'toAddress1',
 'toCity',
 'toState',
 'toZipcode',
 'tripVerified',
 'units',
 'vehicleCompanyAPI',
 'vehicleCompanyNPI',
 'vehicleCompanyName',
 'vehicleCompanyTaxId',
 'vehicleCompanyTaxonomy']

In [ ]:
df['scenario'].unique()

array(['Meals', 'Airfare', 'Lodging', 'Bus', 'ITP - Other'], dtype=object)

In [ ]:
df.shape

(3543, 90)

# Unit Tests

#### 38 Lodging units cannot exceed 7 days per encounter.

In [ ]:
#"Lodging units cannot exceed 7 days per encounter.	"
def chk_lodging_units(df):
  counter = 0
  for index, row in df.iterrows():
    if row['scenario'] == 'Lodging':
      if row['units'] > 7:
        counter +=1
  if counter > 0:
    return False
  return True

In [ ]:
chk_lodging_units(df)

True

#### 41 Mileage reimbursement to ITPs must equal the MTP allowed amount.

In [ ]:
def chk_final_cost(df):
  counter = 0
  for index, row in df.iterrows():
    if row['scenario'].startswith('ITP'):
      if round(row['finalCost']/row['units'],2) != 0.56:
        counter +=1
  if counter > 0:
    print("Number of rows that did not pass the chk_final_cost_test are:", counter)
    return False
  return True

In [ ]:
chk_final_cost(df)

True

In [102]:
df['pickupDate'] = pd.to_datetime(df['pickupDate'].astype(str))
df['claimReceiptDate'] = pd.to_datetime(df['claimReceiptDate'].astype(str))
def chk_payment_method(df):
  counter = 0
  for index, row in df.iterrows():
    if row['paymentMethod'] == 'AF' or row['paymentMethod'] == 'CC':
      if row['pickupDate'] > row['claimReceiptDate']:
        counter +=1
  if counter > 0:
    print("Number of rows that did not pass the chk_payment_method are:", counter)
    return False
  return True

In [103]:
chk_payment_method(df)

True

In [ ]:
#Check for all conditions
def check_all():
  num_of_valid_rows = 0

  if chk_final_cost(df) and chk_final_cost(df):
      num_of_valid_rows += 1
  print(num_of_valid_rows)
  num_of_invalid_rows = df.shape[0] - num_of_valid_rows
  return num_of_invalid_rows

In [ ]:
check_all()

Number of rows that did not pass the chk_final_cost_test are: 547
0

3543

In [ ]:
#"Lodging units cannot exceed 7 days per encounter.	"

if 'scenario - B' = Lodging then 'units - CJ' cannot be > 7